<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264984297604-lrlbbaqopnr3j55gn46vr99uo5dfpog5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264984297604-lrlbbaqopnr3j55gn46vr99uo5dfpog5</string>
	<key>API_KEY</key>
	<string>AIzaSyCsKt196VvpNfbNJQdaeNbINAvxJvMAKek</string>
	<key>GCM_SENDER_ID</key>
	<string>264984297604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amit.flutterFlavor</string>
	<key>PROJECT_ID</key>
	<string>amit-flutter-flavor</string>
	<key>STORAGE_BUCKET</key>
	<string>amit-flutter-flavor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264984297604:ios:0dbeb42632ffde58e002d1</string>
</dict>
</plist>